a {
    text-decoration: none;
    color: black;
}


.gridContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 100vh;
    padding: 0 4rem;
}

.newsContainer {
    display: grid;
}

.firstRow {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 12px;
}

.leadStoryContainer {
    display: grid;
    grid-template-columns: 6fr 7fr;
    padding: 10px;
}


.secondRow {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
}

.storiesContainer {
    background: green;
    border: 2px solid black;
}

.thirdRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.storiesWithImageContainer {
    padding:10px;

}

.sideContainer {
    display: grid;
    grid-template-rows: 2fr 1.5fr 1fr 0.75fr;

}

.adContainer {
    background: white;
}

.sideNewsContainer {
    background: yellow;
}